:root{
    --colorDos: rgba(60,62,68,1);
    --colorUno:rgba(39,43,51, 1);
    --colorTres: rgb(245,245,245);
  }


  .containerFilters{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .containerBtnFilter{
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 3px;
  }

  .btnFilter{
    background-color: var(--colorDos);
    color: var(--colorTres);
    font-weight: bold;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 10px 20px 1px #000;
    border: none;

  }

  .btnFilter:hover{
   background-color:  rgba(243, 75, 75, 0.639);

  }

  @media screen and  (max-width: 800px){
   
    
    
   }